<form asp-action="ValueTreatment" class="text-info alert-dark">
    <label>Ввести число</label>
    <input type="number" name="value"/>    
    <button type="submit" class="btn btn-outline-primary btn-sm">Обработать</button>
</form>